đây là first
<ion-content  style="background-color:#96d7e9">
<div class="container-fluid" >
	<div class="header-first" style="margin-left:20px; margin-right:20px ;text-align:center ">
		<h1 class="title-main" style="color: white"> Welcome to My Restaurant </h1>
	
	
        <div style="margin-top:40px">
          <div style="float: left; width: 50%; text-align:center">
          	<a class="button button-calm "href="#login" style="width: 100px;">Log in</a>
          </div>
          <div style="float: left; width: 50%; text-align:center">
          	<a class="button button-outline button-calm "  href="#sign-up"  style="width: 100px">Sign up</a>
        </div>
          <a class="button icon icon-right ion-chevron-right" href="#home">Menu</a> 
        </div>
 </div>
</div>
</ion-content>