<ion-header-bar class="bar-calm">
	<div class="buttons button-left header-item">
		<span class="left-buttons">
          	<button class="button button-icon button-clear ion-android-menu" ng-click="toggleLeft()"></button>
        </span>
    </div>
    <h1 class="title">Menu</h1>
        <div class="buttons buttons-right header-item">
        	<span class="right-buttons">
          		<button class="button button-icon button-clear ion-ios-gear-outline button-right" ng-click="openPopover($event)"></button>
        	</span>
      	</div>
</ion-header-bar>
<ion-content>
  <div class="card">
  <div class="item item-divider">
    I'm a Header in a Card!
  </div>
  <div class="item item-text-wrap">
    This is a basic Card with some text.
  </div>
  <div class="item item-divider">
    I'm a Header in a Card!
  </div>
  <div class="item item-text-wrap">
    This is a basic Card with some text.
  </div>
  <div class="item item-divider">
    I'm a Header in a Card!
  </div>
  <div class="item item-text-wrap">
    This is a basic Card with some text.
  </div>
  
</div>

</ion-content>