<ion-header-bar class="bar-calm">
	<div class="buttons button-left header-item">
		<span class="left-buttons">
          	<button class="button button-icon button-clear ion-android-menu" ng-click="toggleLeft()"></button>
        </span>
    </div>
    <h1 class="title">Table</h1>
        <div class="buttons buttons-right header-item">
        	<span class="right-buttons">
          		<button class="button button-icon button-clear ion-ios-gear-outline button-right" ng-click="openPopover($event)"></button>
        	</span>
      	</div>
</ion-header-bar>
 	
<ion-content>	
 	<div class="container">
		<div class="row">
			<div class="col col-md-33 table">
				<p class="table-number"> 1 </p>
			</div>
			<div class=" col col-md-33 table">
				<p class="table-number"> 2 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 3 </p>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-33 table">
				<p class="table-number"> 4 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 5 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 6 </p>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-33 table">
				<p class="table-number"> 7 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 8 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 9 </p>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-33 table">
				<p class="table-number"> 10 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 11 </p>
			</div>
			<div class="col col-md-33 table">
				<p class="table-number"> 12 </p>
			</div>
		</div>
	</div>
</ion-content>

